header {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    vertical-align: middle;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    vertical-align: middle;
}

li {
    display: flex;
    vertical-align: middle;
    margin-right: 50px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
}

li a {
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.GeoLab {
    display: flex;
    vertical-align: middle;
    margin-left: 99px;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

